# LangChain and LLMs
langchain==0.3.25
langchain-community
langchain-core
langchain-qdrant
langchain-openai
openai
tiktoken
google-cloud-aiplatform
protobuf
requests
# Vector DB
faiss-cpu
PyMuPDF
# PDF + Utils
pypdf
python-dotenv

# Web Server
flask
flask-cors
gunicorn

# OCR Dependencies
numpy